{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('/js/durationTrip.js') }}"></script>
{% endblock %}

{% block title %}Gestion des sorties{% endblock %}

{% block body %}
    <script>
        //Recupere id input duration
        const inputDuration = "update_manage_trip_duration";
    </script>

    <div class="container text-center p-4 form-group">
        <h1>Modifier ma sortie :</h1>
        {{ form_start(tripForm) }}
        <div class="row my-4">
            <div class="col-3 offset-3">
                {{ form_label(tripForm.name, 'Nom') }}
            </div>
            <div class="col-3">
                {{ form_widget(tripForm.name, {'attr': {'class': 'form-control'}}) }}
                <small class="text-danger">{{ form_errors(tripForm.name) }}</small>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-3 offset-3">
                {{ form_label(tripForm.campus) }}
            </div>
            <div class="col-3">
                {{ form_widget(tripForm.campus, {'attr': {'class': 'form-control'}}) }}
                <small class="text-danger">{{ form_errors(tripForm.campus) }}</small>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-3 offset-3">
                {{ form_label(tripForm.adress, 'Adresse') }}
            </div>
            <div class="col-3">
                {{ form_widget(tripForm.adress, {'attr': {'class': 'form-control'}}) }}
                <small class="text-danger">{{ form_errors(tripForm.adress) }}</small>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-3 offset-3">
                {{ form_label(tripForm.dateStart, 'Date de début') }}
            </div>
            <div class="col-3">
                {{ form_widget(tripForm.dateStart.date, {'attr': {'class': 'form-control'}}) }}
                {{ form_widget(tripForm.dateStart.time, {'attr': {'class': 'form-control'}}) }}
                <small class="text-danger">{{ form_errors(tripForm.dateStart) }}</small>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-3 offset-3">
                {{ form_label(tripForm.duration, 'Durée (heure)') }}
                <small id="idDurationConv"></small>
            </div>
            <div class="col-3">
                {{ form_widget(tripForm.duration, {'attr': {'class': 'form-control', 'onChange': 'postDuration()'}}) }}
                <small class="text-danger">{{ form_errors(tripForm.duration) }}</small>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-3 offset-3">
                {{ form_label(tripForm.dateLimitInscription, 'Date limite d\'inscription') }}
            </div>
            <div class="col-3">
                {{ form_widget(tripForm.dateLimitInscription.date, {'attr': {'class': 'form-control'}}) }}
                {{ form_widget(tripForm.dateLimitInscription.time, {'attr': {'class': 'form-control'}}) }}
                <small class="text-danger">{{ form_errors(tripForm.dateLimitInscription) }}</small>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-3 offset-3">
                {{ form_label(tripForm.nbMaxRegistration, 'Nombre de Participant (MAX)') }}
            </div>
            <div class="col-3">
                {{ form_widget(tripForm.nbMaxRegistration, {'attr': {'class': 'form-control'}}) }}
                <small class="text-danger">{{ form_errors(tripForm.nbMaxRegistration) }}</small>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-6 offset-3">
                {{ form_label(tripForm.informationTrip, 'Informations de la sortie :') }}
            </div>
        </div>
        <div class="row my-4">
            <div class="col-6 offset-3">
                {{ form_widget(tripForm.informationTrip, {'attr': {'class': 'form-control'}}) }}
                <small class="text-danger">{{ form_errors(tripForm.informationTrip) }}</small>
            </div>
        </div>

        <button type="submit" class="btn btn-dark">Modifier</button>
        {{ form_end(tripForm) }}
    </div>

{% endblock %}