{% extends 'base.html.twig' %}

{% block title %}Gestion des sorties{% endblock %}

{% block body %}

    <a href="{{ url('tripManage_create') }}" class="btn btn-success m-3">Créer une sortie</a>

    <div class="text-center mb-5">
        <h1>Page de gestion des sorties</h1>

            <div id="postDetail"></div>

    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">NOM</th>
            <th scope="col">ETAT</th>
            <th scope="col">ACTION</th>
        </tr>
        </thead>
        <tbody>
        {% for trip in trips %}
            <tr>
                <td><a href="">{{ trip.name }}</a></td>
                <td>{{ trip.status.name }}</td>
                <td>
                    {% if trip.status.name == 'Create' or trip.status.name == 'Active' %}
                        <a href="{{ path('tripManage_update', {'id': trip.id}) }}"><button class="btn btn-secondary">Modifier</button></a>
                        {% if trip.status.name == 'Create' %}
                            <a href="{{ path('tripManage_publish', {'id': trip.id}) }}"><button class="btn btn-success">Publier</button></a>
                            <a href="{{ path('tripManage_delete', {'id': trip.id}) }}"><button class="btn btn-danger">Supprimer</button></a>
                        {% else %}
                            <a id="{{ trip.name }}_{{ trip.id }}"><button class="btn btn-info">Afficher</button></a>
                            <a href="{{ path('tripManage_cancel', {'id': trip.id}) }}"><button class="btn btn-warning">Annuler</button></a>
                        {# TODO TEST AFFICHAGE DYNAMIQUE #}
                        <script>
                            document.getElementById("{{ trip.name }}_{{ trip.id }}").addEventListener('click', postDetail);

                            function postDetail(){
                                let detail = "<div class='alert alert-secondary' role='alert'>";
                                detail += "<div class='row'><div class='col-md-4'>";
                                detail += "<h2>Liste des participants</h2>"
                                {% for inscpt in trip.inscription %}
                                detail += "<p>{{ inscpt.participant.pseudo }}</p>"
                                {% endfor %}
                                detail += "</div><div class='col-md-8'>";
                                detail += "<p>Campus : {{ trip.campus.name }}</p>";
                                detail += "<p>Nom de la sortie : {{ trip.name }} à {{ trip.adress.city.name }}, {{ trip.adress.name }}<p>";
                                detail += "<p>Date : {{ trip.dateStart|date('d/m/Y H:m') }}<span id='countdown_{{ trip.id }}'></span></p>";
                                detail += "<p>Nombre de place : {{ trip.inscription|length }}/{{ trip.nbMaxRegistration }}<p>";

                                detail += "</div></div><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div>";

                                document.getElementById("postDetail").innerHTML = detail;

                                let dateStart = new Date('{{ trip.dateStart|date }}');
                                let idCountDown = "countdown_{{ trip.id }}";

                                countDown();

                                function countDown() {
                                    let timeCountDown = (dateStart - Date.now());
                                    let countDownText = "";
                                    let x = "";
                                    if(timeCountDown>0){
                                        countDownText += ", se termine dans ";
                                        timeCountDown = Math.floor(timeCountDown/1000);
                                        x = Math.floor(timeCountDown / (60*60*24));
                                        timeCountDown = timeCountDown % (60*60*24);
                                        if(x != 0){
                                            countDownText += x;
                                            countDownText += " j ";
                                        }
                                        x = Math.floor(timeCountDown / (60*60));
                                        timeCountDown = timeCountDown % (60*60);
                                        if(x != 0){
                                            countDownText += x;
                                            countDownText += " h ";
                                        }
                                        x = Math.floor(timeCountDown / (60));
                                        timeCountDown = timeCountDown % (60);
                                        if(x != 0){
                                            countDownText += x;
                                            countDownText += " m ";
                                        }

                                        countDownText += timeCountDown + " s";
                                    }else {
                                        countDownText += ", sortie déjà débutée";
                                    }

                                    document.getElementById(idCountDown).innerText = countDownText;
                                    setTimeout(countDown, 1000);
                                }

                            }


                        </script>
                        {# TODO fin #}
                        {% endif %}

                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
