{% extends 'base.html.twig' %}

{% block title %}Gestion des sorties{% endblock %}

{% block body %}
<div class="row justify-content-end">
    <a href="{{ url('tripManage_create') }}" class="btn btn-success m-3">Créer une sortie</a>
</div>

    <div class="text-center mb-5">
        <a class="pt-3" href="javascript:window.history.go(-1)"><button class="btn btn-outline-primary">Retour</button></a>
        <h1>Page de gestion des sorties</h1>

            <div id="postDetail"></div>

    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">NOM</th>
            <th scope="col">ETAT</th>
            <th scope="col">ACTION</th>
        </tr>
        </thead>
        <tbody>
        {% for trip in trips %}
            <tr>
                <td><a href="{{ path('trip_detail_trip', {'id': trip.id}) }}">{{ trip.name }}</a></td>
                <td>{{ trip.status.frenchName }}</td>
                <td>
                    {% include 'trip/detailMiniWindow.html.twig' with {trip: trip} only %} {# JS mini window #}
                    {% if trip.status.name == 'Create' or trip.status.name == 'Active' %}
                        <a href="{{ path('tripManage_update', {'id': trip.id}) }}"><button class="btn btn-outline-secondary">Modifier</button></a>
                        {% if trip.status.name == 'Create' %}
                            <a href="{{ path('tripManage_publish', {'id': trip.id}) }}"><button class="btn btn-outline-success">Publier</button></a>
                            <a href="{{ path('tripManage_delete', {'id': trip.id}) }}"><button class="btn btn-outline-danger">Supprimer</button></a>
                        {% else %}
                            <a href="{{ path('tripManage_cancel', {'id': trip.id}) }}"><button class="btn btn-outline-warning">Annuler</button></a>
                        {% endif %}

                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation row justify-content-center">
        {{ knp_pagination_render(trips) }}
    </div>

{% endblock %}
