{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}


    <h1>Mon profil</h1>
    {#  <p>Vous êtes un :
        {% if is_granted ('ROLE_ADMIN')%}
            <b>administrateur</b>
        {% endif %}

        {% if is_granted ('ROLE_USER')%}
            <b>client</b>
        {% endif %}
    </p>#}

    <img src="{{ asset( '/img/profilePicture/' ~app.user.pictureFileName) }}" alt="profile-pic" />

    {{ form_start(userForm) }}

    {{ form_row(userForm.pseudo, {
        label: 'Pseudo :'
    }) }}
    {{ form_row(userForm.name, {
        label: 'Prénom :'
    }) }}
    {{ form_row(userForm.lastname, {
        label: 'Nom :'
    }) }}
    {{ form_row(userForm.phoneNumber, {
        label: 'Téléphone :'
    }) }}
    {{ form_row(userForm.mail, {
        label: 'Email :'
    }) }}
    {{ form_row(userForm.password, {
        label: 'Mot de passe :'
    }) }}
    {{ form_row(userForm.confirmation, {
        label: 'Confirmation :'
    }) }}
    {{ form_row(userForm.campus, {
        label: 'Campus'
    }) }}
    {{ form_row(userForm.picture, {
        label: 'Ma photo :'
    }) }}

    <button type="submit" class="btn">Enregistrer</button>
    <button type="reset" class="btn">Annuler</button>

    {{ form_end(userForm) }}




{% endblock %}
