{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}


    {#  <p>Vous êtes un :
        {% if is_granted ('ROLE_ADMIN')%}
            <b>administrateur</b>
        {% endif %}

        {% if is_granted ('ROLE_USER')%}
            <b>client</b>
        {% endif %}
    </p>#}
    <div class="container-fluid text-center p-3 form-group">
        <h2 style="margin: 20px 0px 10px 40px ">Mon profil</h2>
        <div class="row">
            <div class="col-md-2 pictureProfil">
                <div align="right">
            {% if(app.user.pictureFileName != null) %}
                 <img class="rounded-circle "  src="{{ asset( '/img/profilePicture/' ~app.user.pictureFileName) }}" alt="profile-pic" />
            {% else %}
                 <img class="rounded-circle "   src="/img/profilePicture/noPicture.jpeg" alt="profile-pic"/>
            {% endif %}
                </div>
            </div>

            <div class="col-md-5">
                <h5 style="margin-top: 30px" >Modification des données personnelles</h5>

                {{ form_start(userForm) }}
                <div class="row my-4 justify-content-around" >
                    <div class="col-md-4" style="margin-top: 40px">
                        {{ form_label(userForm.pseudo, 'Pseudo') }}
                    </div>
                    <div class="col-md-6" style="margin-top: 40px">
                        {{ form_widget(userForm.pseudo, {'attr': {'class': 'form-control'}}) }}
                        <small class="text-danger">{{ form_errors(userForm.pseudo) }}</small>
                    </div>
                </div>
                <div class="row my-4 justify-content-around">
                    <div class="col-md-4">
                        {{ form_label(userForm.name, 'Prénom') }}
                    </div>
                    <div class="col-md-6 ">
                        {{ form_widget(userForm.name, {'attr': {'class': 'form-control'}}) }}
                        <small class="text-danger">{{ form_errors(userForm.name) }}</small>
                    </div>
                </div>
                <div class="row my-4 justify-content-around">
                    <div class="col-md-4">
                 {{ form_label(userForm.lastname, 'Nom ') }}
                    </div>
                    <div class="col-md-6">
                        {{ form_widget(userForm.lastname, {'attr': {'class': 'form-control'}}) }}
                        <small class="text-danger">{{ form_errors(userForm.lastname) }}</small>
                    </div>
                </div>
                <div class="row my-4 justify-content-around">
                    <div class="col-md-4">
                        {{ form_label(userForm.phoneNumber, 'Téléphone ') }}
                     </div>
                    <div class="col-md-6">
                        {{ form_widget(userForm.phoneNumber, {'attr': {'class': 'form-control'}}) }}
                        <small class="text-danger">{{ form_errors(userForm.phoneNumber) }}</small>
                    </div>
                </div>
                <div class="row my-4 justify-content-around">
                    <div class="col-md-4">
                        {{ form_label(userForm.mail, 'Email ') }}
                    </div>
                    <div class="col-md-6">
                        {{ form_widget(userForm.mail, {'attr': {'class': 'form-control'}}) }}
                        <small class="text-danger">{{ form_errors(userForm.mail) }}</small>
                     </div>
                </div>
                <div class="row my-4 justify-content-around">
                     <div class="col-md-4">
                        {{ form_label(userForm.campus, 'Campus ') }}
                    </div>
                    <div class="col-md-6">
                        {{ form_widget(userForm.campus, {'attr': {'class': 'form-control'}}) }}
                        <small class="text-danger">{{ form_errors(userForm.campus) }}</small>
                    </div>
                </div>
                <div class="row my-4 justify-content-around">
                     <div class="col-md-4">
                         {{ form_label(userForm.picture, 'Photo de profile ') }}
                    </div>
                    <div class="col-md-6">
                        {{ form_widget(userForm.picture, {'attr': {'class': 'form-control'}}) }}
                        <small class="text-danger">{{ form_errors(userForm.picture) }}</small>
                    </div>
                </div>
            </div>
            <div class="col-md-5" style="margin-top: 150px">
                <h5>Modification du mot de passe</h5>
                <div class="row my-4 justify-content-around">
                    <div class="col-md-4" style="margin-top: 40px">
                         {{ form_label(userForm.password, 'Mot de passe') }}
                    </div>
                    <div class="col-md-6" style="margin-top: 40px">
                        {{ form_widget(userForm.password, {'attr': {'class': 'form-control'}}) }}
                        <small class="text-danger">{{ form_errors(userForm.password) }}</small>
                    </div>
                </div>
                <div class="row my-4 justify-content-around">
                    <div class="col-md-4">
                        {{ form_label(userForm.confirmation, 'Confirmation ') }}
                    </div>
                    <div class="col-md-6">
                        {{ form_widget(userForm.confirmation, {'attr': {'class': 'form-control'}}) }}
                        <small class="text-danger">{{ form_errors(userForm.confirmation) }}</small>
                    </div>
                </div>
                <div align="center" style="margin: 150px 100px ">
                    <button  type="submit" class="btn btn-outline-secondary">Enregistrer</button>

                    <button type="reset" class="btn btn-outline-secondary">Annuler</button>
                </div>
            </div>
        </div>

        {{ form_end(userForm) }}
    </div>

{% endblock %}
