{% extends 'base.html.twig' %}

{% block title %}Gestion des villes{% endblock %}

{% block body %}

    <div class="container text-center p-4 form-group">
        <h1>Modification d'un campus :</h1>
        {{ form_start(campusForm) }}
        <div class="row my-4">
            <div class="col-3 offset-3">
                {{ form_label(campusForm.name, 'Nom') }}
            </div>
            <div class="col-3">
                {{ form_widget(campusForm.name, {'attr': {'class': 'form-control'}}) }}
                <small class="text-danger">{{ form_errors(campusForm.name) }}</small>
            </div>
        </div>
    </div>
    <div align="center" style="margin-bottom: 30px">
        <button type="submit" class="btn btn-outline-secondary">Modifier</button>
        {{ form_end(campusForm) }}
    </div>
    </div>

{% endblock %}