{% extends "base.html.twig" %}

{% block title %}Tableau utilisateurs{% endblock %}
{% block body %}
    <div class="p-5">
        <h1>Profil participant</h1>


        <div class="text-center mb-5">
            <h2>Information sur {{ participant.id }}</h2>

            <ul style="list-style-type: none;">
                <li>{{ participant.name }}</li>
                <li>{{ participant.lastName | capitalize}}</li>
                <li>{{ participant.phoneNumber }}</li>
                <li>{{ participant.mail }}</li>
                <li>{{ participant.campus }}</li>
            </ul>

            <button type="button"> <a href=""></a>Retour</button>

        </div>
    </div>


{% endblock %}