{{ form_start(formSearch) }}

{# <h4> Campus </h4>
{# {{ form_row(formSearch.campus) }} #}

<h4>Le nom de la sortie contient</h4>
{{ form_row(formSearch.search) }}


<div class="row">
    <div class="col-md-6">
        {{ form_row(formSearch.dateMin) }}
    </div>

    <div class="col-md-6">
        {{ form_row(formSearch.dateMax) }}
    </div>
</div>
<div>
    <div class="col-md-6">
        {{ form_row(formSearch.isOrganizer) }}
    </div>
    <div class="col-md-6">
        {{ form_row(formSearch.subscribedTo) }}
    </div>
    <div class="col-md-6">
        {{ form_row(formSearch.insubscribedTo) }}
    </div>
</div>

<button type="submit" class="btn btn-primary w-100">Filtrer</button>


{{ form_end(formSearch) }}