{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}
    <h1>Listes des sorties</h1>

    <a href="{{ url('trip_list') }}">Liste des sortie</a>

    <div class="container-fluid">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">NOM DE LA SORTIE</th>
                <th scope="col">DATE DE LA SORTIE</th>
                <th scope="col">CLOTURES</th>
                <th scope="col">INSCRITS/PLACES</th>
                <th scope="col">ETAT</th>
                <th scope="col">INSCRIT</th>
                <th scope="col">ORGANISATEUR</th>
                <th scope="col">ACTIONS</th>
            </tr>
            </thead>
            <tbody>
            {% for trip in trips %}
                <td>{{ trip.name }}</td>
                <td>{{ trip.dateStart }}</td>
                <td>{{ trip.limitInscription }}</td>
                <td>{{ trip.nbMaxRegistration }}</td>
                <td>{{ trip.statut }}</td>
                <td>{{ trip.promoter }}</td>
                <td>"lambada"</td>


            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
