{% extends 'base.html.twig' %}

{% block javascripts %}
{% endblock %}

{% block title %}Liste des sorties{% endblock %}

{% block body %}
    <div class="row my-4 justify-content-between">
        <div class="m-3 ml-5">
            <h1>Liste des sorties</h1>
        </div>
        <div class="text-md-right m-3 mr-5">
            <a href="{{ url('tripManage_create') }}" class="btn btn-success w-20">Créer une sortie</a>
            <a href="{{ url('tripManage_index') }}" class="btn btn-success w-20">Gestion des sorties</a>
        </div>
    </div>

    <div id="postDetail"></div>{# Detail Dynamique #}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 pr-0 h-100">
                {% include 'trip/filter.html.twig' %}
            </div>
            <div class="col-md-8">
                <div class="container-fluid container text-center p-4 form-group form-control ">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">CAMPUS</th>
                            <th scope="col">NOM DE LA SORTIE</th>
                            <th scope="col">DATE DE LA SORTIE</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for trip in trips %}
                            <tr class="colorStatus{{ trip.status.name }}">
                                <td>{{ trip.campus.name }}</td>
                                <td>{{ trip.name }}</td>
                                <td>{{ trip.dateStart|date("d/m/Y") }}</td>
                                <td>
                                    {% include 'trip/detailMiniWindow.html.twig' with {trip: trip} only %} {# JS mini window #}
                                </td>
                                <td>
                                    {# Recuperer la liste des participants #}
                                    {% set arrayParticipant = [] %}
                                    {% for i in trip.inscription %}
                                        {% set arrayParticipant = arrayParticipant|merge([i.participant.id]) %}
                                    {% endfor %}

                                    {% if trip.status.name == 'Active' %}
                                        {% if app.user.id in arrayParticipant %}
                                            <a href="{{ path('inscription_unsubscribe', {'id': trip.id }) }}"><button class="btn btn-outline-warning">Se désinscrire</button></a>
                                        {% else %}
                                            <a href="{{ path('inscription_register', {'id': trip.id }) }}"><button class="btn btn-outline-success">S'inscrire</button></a>
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if app.user.admin and trip.status.name == 'Active'  %}
                                        <a href="{{ path('admin_cancel_trip', {'id': trip.id }) }}"><button class="btn btn-outline-danger">Annuler</button></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {# display navigation #}
                    <div class="navigation row justify-content-center">
                        {{ knp_pagination_render(trips) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Décocher la case 'je suis inscris si l'on coche la case je ne suis pas inscris' ... et vice versa
        /* Avec l'inspecteur du nav retrouver les id des deux elements :
            id checkbox où je suis inscris : 'subscribedTo'
            id checkbox où je ne suis pas inscris : 'insubscribedTo'
         */

        //recuperer les elements html inputs dans des variables grace aux id
        let inputSubscribedTo = document.getElementById('subscribedTo');
        let inputInsubscribedTo = document.getElementById('insubscribedTo');

        //Ajouter des évenements aux inputs pour déclencher une fonction quand ils seront selectionner
        inputSubscribedTo.addEventListener('click', controlCheckInsubscribedInput);
        inputInsubscribedTo.addEventListener('click', controlCheckSubscribedInput);

        function controlCheckInsubscribedInput(){
            if(inputSubscribedTo.checked){ //si le bouton 'où je suis inscris' est checké
                if(inputInsubscribedTo.checked){ //si le bouton 'où je ne suis pas inscris' est checké
                    inputInsubscribedTo.checked = false; // déchecker la box
                }
            }
        }

        function controlCheckSubscribedInput(){
            if(inputInsubscribedTo.checked){
                if(inputSubscribedTo.checked){
                    inputSubscribedTo.checked = false; // déchecker la box
                }

                /*
                Petit bonus ouvre une page d'alerte si le boutton 'où je ne suis pas inscris' est coché
                 */
                // if(inputInsubscribedTo.checked){
                //     alert("Oulahhhhh malheureux la fonctionnalité ne marche pas!");
                // }
                /*
                Petit bonus 2 se desélectionne apres 0.2 secondes
                 */
                if(inputInsubscribedTo.checked){
                    setTimeout(hide , 200); // enclenche la fonction hide() dans 200 millisecondes

                    function hide(){
                        inputInsubscribedTo.checked = false; // déchecker la box
                    }
                }
            }
        }
    </script>


{% endblock %}


