<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>

    <header  class="d-flex flex-column flex-md-row justify-content-between p-3 px-md-4 bg-body shadow-sm">
        <div class="m-2">
            <a style="float:left" href="{{ path('home') }}"><img src="{{ asset('/img/logo.png') }}" class="rounded logoNav" alt="logo"></a>
        </div>
        <div class="m-4">
            <p class="h5 my-0 me-md-auto fw-normal">{% block name %}{% endblock %}</p>

            <nav class="my-2 my-md-0 me-md-3 bgNavBar navbar pr-3 pl-3 m-5">
                <a class="p-2" href="{{ path('home') }}">Accueil</a>
                {%  if app.user %}
                    <a class="p-2" href="{{ url('showUser', {id: app.user.id}) }}">Mon profil</a>
                    <a class="p-2" href="{{ path('trip_list') }}">Sorties</a>
                    <a class="p-2" href="{{ path('app_logout') }}">Déconnexion</a>
                    {% if app.user.admin %}
                        <div class="dropdown">
                            <button class="btn btnSuccess dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Admin
                            </button>
                            <div class="dropdown-menu adminLinkNavBar" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="{{ path('admin_listUser') }}">Liste des utilisateurs</a>

                                <a class="dropdown-item" href="{{ path('city_create') }}">Gestion des villes</a>
                                <a class="dropdown-item" href="{{ path('campus_create') }}">Gestion des campus</a>


                            </div>
                        </div>
                    {% endif %}
                {% else %}
                    <a class="p-2" href="{{ url('app_register') }}">Creer un compte</a>
                    <a class="p-2" href="{{ url('app_login') }}">Se connecter</a>
                {% endif %}
            </nav>
        </div>

    </header>
    <body>
    <div class=" container-fluid bgBody pt-5">
        {# Afficher des messages #}
        {% for status, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ status }}" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endfor %}
        <div class="container-fluid bgContainer">
            {% block body %}{% endblock %}
        </div>
    </div>
    </body>

    <footer class="page-footer text-center pt-4 my-md-5 pt-md-5 bgFooter">
        <div class="styleFooter">
            SuperTeam (Seven) LULU & MAMA & WIWI
        </div>
    </footer>
</html>

